*{
    margin: 0;
    padding: 0;
}

.cursorBox{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    /* position: absolute; */
    /* left: 35%; */
    background-color: black;
}